[mysqld]
user = mysql
!includedir /etc/mysql/conf.d/

wsrep_provider                  = /usr/lib/libgalera_smm.so
wsrep_sst_method                = rsync
default_storage_engine          = innodb
binlog_format                   = row
innodb_autoinc_lock_mode        = 2 # parrallel applying
innodb_flush_log_at_trx_commit  = 0
query_cache_size                = 0
query_cache_type                = 0
wsrep_cluster_address          = "gcomm://"
wsrep_cluster_name             = "the_cluster"
